<fieldset class="field release-fields" [disabled]="disabled()">
  <legend class="visually-hidden">{{ 'exams.release.legend' | t }}</legend>

  @for (mode of modes; track mode.value) {
    <label class="inline-check release-fields__choice">
      <input
        type="radio"
        [name]="uid"
        [value]="mode.value"
        [checked]="selection().mode === mode.value"
        (change)="chooseMode(mode.value)"
      />
      <span>
        {{ mode.label | t }}
        <span class="hint release-fields__hint">{{ mode.hint | t }}</span>
      </span>
    </label>
  }

  @if (selection().mode === 'Scheduled') {
    <div class="field">
      <label [for]="uid + '-time'">{{ 'exams.release.showFrom' | t }}</label>
      <input
        [id]="uid + '-time'"
        type="datetime-local"
        [value]="selection().localTime"
        (input)="chooseTime($any($event.target).value)"
      />
    </div>
  }

  @if (selection().mode === 'Instant') {
    <p class="hint">{{ 'exams.release.instantNote' | t }}</p>
  }
</fieldset>
