# .NET
apps/api/**/bin/
apps/api/**/obj/
apps/api/**/*.user
apps/api/coverage/
apps/api/**/TestResults/
*.nupkg

# Node / Angular
apps/web/node_modules/
apps/web/dist/
apps/web/.angular/
npm-debug.log*

# Editors / OS
.vs/
.vscode/
.idea/
*.swp
.DS_Store

# Env
.env
.env.local
